[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-modeltranslation = "*"
django-ckeditor = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.10"
